*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


.logo h2{
    font-size: 45px;
    font-weight: 900;

}

.color-orange{
    color: #FD6E0A;
}

.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}



.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}

.text-center{
    text-align: center;
}

/* Main Style */

header{
    background-color: #fff8f3;
    background: url(../img/developer.png) , url(../img/header_bg.png) ,#fff8f3;
    background-repeat: no-repeat;
    background-position: left, right;
    padding: 50px;

}


nav{
    width: 70%;
    max-width: 1200px;
    /* border: 1px solid orange; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    gap: 50px;
    align-items: center;
    list-style-type: none;
}

nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;

}



#banner{
    /* border: 1px solid orange; */
    margin: 50px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}


#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom:30px ;
}

#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}




#about , #skills , #resume{
    padding-top: 130px;

}


#about .about-container{
    max-width:1140px ;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}


#about .about-container .about-info{
    display: flex;
    justify-content: space-around;


}


.about-info .info-card p{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4{
    font-size: 20px;
}




#skills .skills-container{
    max-width: 1140px;
    width: 70%;
    margin: 0 auto;
}


#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;

}

.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid orange; */
    max-width: 267px;
    box-shadow: 0 6px  50px 0 #00000048;

}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}


.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    color: #757575;
    font-size: 16px;
    line-height: 28px;

}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;

    margin: 131px auto 0;
    
    display: flex;
    gap: 24px;
   
}

.resume-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-container hr{
    margin: 30px 0;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text{

    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

footer{
    margin-top: 130px;
    background-color: #fff8f3;
    padding: 130px 0;
}

footer .footer-container{

    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}


.footer-container .social{
    max-width: 562px;

}


.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .social p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;

}

.footer-container .icons a{
    margin-right: 24px;

}

.footer-container .form input[type="text"]{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 31px;
    border: none;
    border-radius: 5px;
    color: #757575
    ;
}

.footer-container .form input[type="email"]{
    width: 461px;
    padding: 18px 31px;
    
    margin-bottom: 31px;
    border: none;

    border-radius: 5px;
    color: #757575
}

.footer-container .form textarea{
    width: 461px;
    padding: 18px 31px;
    
    margin-bottom: 31px;
    border: none;

    border-radius: 5px;
    color: #757575
}