*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}


.logo h2{
    font-size: 45px;
    font-weight: 900;

}

.color-orange{
    color: #FD6E0A;
}

.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* Main Style */

header{
    background-color: #fff8f3;
    padding: 50px;
}


nav{
    width: 70%;
    max-width: 1200px;
    /* border: 1px solid orange; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    gap: 50px;
    align-items: center;
    list-style-type: none;
}

nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;

}



#banner{
    /* border: 1px solid orange; */
    margin: 50px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}


#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom:30px ;
}

